@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background: whitesmoke;
}
main {
    margin: auto;
}
nav {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
}
nav .logo {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}
nav .logo a {
    text-decoration: none;
    color: #5138ee;
}
nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}
nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}
nav .nav-items li a {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
nav .nav-items li a:hover {
    color: #5138ee;
}
nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #424549;
    min-width: 18% !important;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}
nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #5138ee;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
nav form button:hover {
    background: #1f0098;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}
@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}
@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }
    nav .logo {
        flex: 2;
        text-align: center;
    }
    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: gray;
        display: inline-block;
        transition: left 0.3s ease;
    }
    nav .nav-items.active {
        left: 0px;
    }
    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items li a {
        font-size: 20px;
    }
    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }
    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }
    nav form:after {
        position: absolute;
        content: "";
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    nav .menu-icon {
        display: block;
    }
    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }
    nav .cancel-icon.show {
        display: block;
    }
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.content header {
    font-size: 30px;
    font-weight: 700;
}
.content .text {
    font-size: 30px;
    font-weight: 700;
}
.space {
    margin: 10px 0;
}
nav .logo.space {
    color: red;
    padding: 0 5px 0 0;
}
@media (max-width: 980px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }
    nav form {
        right: 30px;
    }
}
@media (max-width: 350px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content header {
    font-size: 30px;
    font-weight: 700;
}
.content .text {
    font-size: 30px;
    font-weight: 700;
}
.content .space {
    margin: 10px 0;
}

.userMenu {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.userMenu .buttonDrop {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
.userContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.userContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Show the dropdown menu on hover */
.userMenu:hover .userContent {
    display: block;
}

/* Add a grey background color to dropdown links on hover */
.userContent a:hover {
    background-color: #ddd;
}

.fa-caret-down {
    color: black;
}

/* Side navigation bar */
.sideNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 3rem;
    justify-content: end;
    margin-left: 1.5rem;
}

.sideNav li {
    padding: 0.7rem;
    margin-left: 1rem;
    list-style-type: none;
}
.sideNav li a {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 13rem;
    text-decoration: none;
}
.sideNav li a:hover {
    color: #5138ee;
}
@media (max-width: 1400px) {
    .sideNav {
        width: 100%;
        position: sticky;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        padding: auto;
    }
    .sideNav li {
        margin-left: 0;
        padding: auto;
    }
    .sideNav li a {
        font-size: 13px;
        margin: auto;
    }
}
@media (max-width: 1140px) {
    .sideNav li a {
        font-size: 15px;
        margin: auto;
    }
}

.sideNav li button.currentActiveTab {
    color: #5138ee;
    font-weight: 600;
}
.sideNav li button {
    border: none;
    background-color: transparent;
    /* transition: 0.2s ease-in-out; */
}
.sideNav li button:hover {
    font-weight: 600;
    /* transition: 0.2s ease-in-out; */
}

#spinners,
#pageLoad {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* banner image */
.bannerImage {
    filter: brightness(65%);
}
.zoom-effect-container {
    float: left;
    position: relative;
    width: 640px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
}
.image-card {
    position: absolute;
    top: 0;
    left: 0;
}
.image-card img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.zoom-effect-container:hover .image-card img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

#searchForm {
    /* position: relative; */
    z-index: 1;
}


img#profileImage {
    width: 35%;
    border-radius: 50%;
}

#author {
    font-weight: 600;
    font-size: 0.9rem;
}
#date {
    font-size: 0.9rem;
    color: gray;
}
.cardTitle button {
    letter-spacing: 1px;
    color: #5138ee;
    font-weight: 500;
    cursor: pointer;
}
.cardTitle button:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    color: #1f0098;
}
.cardTitle button {
    border: none;
    background-color: transparent;
}

div.cardBox:hover ~ .cardTitle {
    color: #000;
}




/* Bookmark page */
#bookmarkContainer .btnRow button {
    border: none;
    padding: 0.6rem;
    transition: linear 0.2s;
    border-radius: 5px;
}
#bookmarkContainer span {
    color: #969696;
}

#bookmarkContainer .btnRow .delBtn button{
    background: #e63946;
    color: #fff;
}
#bookmarkContainer .btnRow .viewBtn button {
    background: #5138ee;
    color: #fff;
}
#bookmarkContainer .btnRow .viewBtn button:hover {
    background: #1f0098;;
}
#bookmarkContainer .btnRow .delBtn button:hover {
    background: #d90429;
}

.resetPwForm form input {
    padding: 13px 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    transition: linear 0.2s;
}
.resetPwForm form input:focus {
    outline: none;
    border: 1px solid #5138ee;
}
.resetPwForm form button {
    border: none;
    display: flex;
    width: 100%;
    text-decoration: none;
    border-radius: 50px;
    padding: 13px 20px;
    box-sizing: border-box;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    transition: linear 0.2s;
    background: #5138ee;
    color: #fff;
}
#resetPwForm form button:hover {
    box-shadow: 0px 0px 4px 0px #d6d6d6;
    background: #1f0098;
}

span.errorMessage {
    color: #d90429;
}